*{
  text-align: center;
  font-family: Arial, sans-serif;
}

body{
  background-image: url(animais.webp);
}

.enquete{
  background-color: rgba(255, 255, 255, 0.8);
  width: 30%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
}