*{
  text-align: center;
  font-family: Arial, sans-serif;
}

body{
  background-image: url(medica.jpg);
  text-align: center;
}

.box{
  background-color: rgba(255, 255, 255, 0.8);
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 15%;
  border-radius: 10px;
}

input{
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
