/* Formatação de Texto */
body{
  /* Propriedade de fonte e texto*/
  font-family: Arial, Helvetica, sans-serif;
}

html{
  font-size: 10px;
}

p{
  text-align: center;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 30px;

  /* Hecadecimal / rgb / rgba*/
  /*color: #615EFC*/
  /*color: rgb(0, 94, 234);*/
  color: rgb(194, 14, 14, 0.75);
  font-size: 2rem;

}


/*
  - Unidade absolutas (px, cm, pt, etc);
  - Unidade relativas 
    vh  -> viewport height (altura tela)
        vw -> viewport width (largura tela)
        em 
        rem 
        %
*/  

.quadrado1{
  background-color: royalblue;
  width: 150px;
  height: 150px;
}

.quadrado2{
  background-color: chartreuse;
  width: 50vw;
  height: 20vh;
}

.secao{
  width: 200px;
  background-color: pink;
  height: 600px;
}

.quadrado3{
    background-color: tomato;
    width: 80%;
    height: 50%;
}

.quadrado4{
    background-color: violet;
    height: 200px;
    width: 300px;
}
